@using Ditto.Resolvers.Sample.Models.Archetypes
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Ditto.Resolvers.Sample.Models.ViewModel<Ditto.Resolvers.Sample.Models.DocTypes.TextPage>>
@{
    ViewBag.PageTitle = "Text Page";
   
    Layout = "~/Views/Shared/Layouts/Root.cshtml";
}

<h2>@Model.Content.Title</h2>
@Html.Raw(Model.Content.Body)