<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
 

]>
<root id="-1">
  <Home id="1056" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-05-26T22:10:26" updateDate="2015-05-26T22:37:02" nodeName="Home" urlName="home" path="-1,1056" isDoc="" nodeType="1054" creatorName="Admin User" writerName="Admin User" writerID="0" template="1053" nodeTypeAlias="Home">
    <title><![CDATA[Title]]></title>
    <body><![CDATA[<p>Body</p>]]></body>
    <priceList><![CDATA[{"fieldsets":[{"properties":[{"alias":"title","value":"Item 1"},{"alias":"price","value":"£15.00"},{"alias":"quantity","value":"2"},{"alias":"associatedPage","value":"1060"}],"alias":"priceList","disabled":false},{"properties":[{"alias":"title","value":"Item 2"},{"alias":"quantity","value":"1"},{"alias":"price","value":"£34.00"},{"alias":"associatedPage","value":""}],"alias":"priceList","disabled":false}]}]]></priceList>
    <Textpage id="1060" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2015-05-26T22:36:13" updateDate="2015-05-26T22:36:41" nodeName="A Text Page" urlName="a-text-page" path="-1,1056,1060" isDoc="" nodeType="1059" creatorName="Admin User" writerName="Admin User" writerID="0" template="1058" nodeTypeAlias="Textpage">
      <title><![CDATA[Text Page Title]]></title>
      <body><![CDATA[<p>Text Page Body</p>]]></body>
    </Textpage>
  </Home>
</root>